@model IEnumerable<KiemTra.Models.HocPhan>

@{
    ViewData["Title"] = "Danh sách học phần";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới học phần</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaHP)</th>
            <th>@Html.DisplayNameFor(model => model.TenHP)</th>
            <th>@Html.DisplayNameFor(model => model.SoTinChi)</th>
            <th>@Html.DisplayNameFor(model => model.SoLuongDuKien)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaHP)</td>
                <td>@Html.DisplayFor(modelItem => item.TenHP)</td>
                <td>@Html.DisplayFor(modelItem => item.SoTinChi)</td>
                <td>@Html.DisplayFor(modelItem => item.SoLuongDuKien)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHP" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.MaHP" class="btn btn-info btn-sm">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.MaHP" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

